<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ztm"
    android:versionCode="51"
    android:versionName="1.0e9" >

    <uses-sdk android:minSdkVersion="7" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:configChanges="orientation|keyboardHidden"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        >
        <activity
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:name=".TestAndroidActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".Settings" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".ImageActivity" >
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".BlogActivity" >
        </activity>
        <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".BlogTopicActivity" >
        </activity>
         <activity
            android:configChanges="orientation|keyboardHidden"
            android:name=".SingleTopicActivity" >
        </activity>
            
    </application>

</manifest>